<h1>List of chat channels</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Channel.all.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><a href="#" data-channel-id="<%= channel.id%>" class="join-channel">Join</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="channel">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <textarea id="message"></textarea>
  <button id="send">Send</button>
</div>
