<br/>
<div>
  <div class="row">
    <div class="col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th>Channels</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% Channel.all.each do |channel| %>
            <tr>
              <td><%= channel.name %></td>
              <td><a href="#" data-channel-id="<%= channel.id%>" class="join-channel">Join</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-9">
      <div id="channel">
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-1">Name</th>
              <th class="col-md-5">Message</th>
            </tr>
          </thead>
          <tbody id="chat-content">

          </tbody>
        </table>
        <label for="message">Message</label><br/>

        <textarea id="message"></textarea><br/>
        <button id="send" class="btn btn-default">Send</button>
      </div>
    </div>
  </div>
</div>
